.navbar-false {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
}

.navbar-true {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background: black;
}

/* Modal */
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 999;
}

.bg-modal {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
  animation: animateOpen 0.2s;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 1;
  animation: animateExit 0.2s;
}

@keyframes animateOpen {
  0% {
    transform: translateY(40%);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes animateExit {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(100%);
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("./fonts/inter.woff2");
}

@layer components {
  body {
    @apply w-screen overflow-x-hidden font-inter bg-black1;
  }
  button {
    @apply cursor-pointer;
  }
}
